body {
  background-color: #F2F2F2;
}

.contents {
  width: 98vw;
  height: 98vh;
}

#digital-clock {
  font-weight: bold;
  font-family: "Roboto", "Helvetica", "sans-serif";
  fill: #333333;
}

#hhmmss {
  font-size: 64px;
}
#YYYYMMDD {
  font-size: 36px;
}
#WWW {
  font-size: 24px;
}

.donut-background {
  opacity: 0.1;
}
.donut-foreground {
  opacity: 1.0;
}

.donut-text {
  font-size: 18;
  text-transform: capitalize;
}
.donut-text-color-dark {
  fill: #333333;
}
.donut-text-color-light {
  fill: #F2F2F2;
}

.month-color-base {
  fill: #333333;
  fill-opacity: 1.0;
}
.month-color-main {
  fill: #2F80ED;
  fill-opacity: 0.2;
}

.date-color-base {
  fill: #333333;
  fill-opacity: 1.0;
}
.date-color-main {
  fill: #2F80ED;
  fill-opacity: 0.4;
}

.hour-color-base {
  fill: #333333;
  fill-opacity: 1.0;
}
.hour-color-main {
  fill: #2F80ED;
  fill-opacity: 0.6;
}

.minute-color-base {
  fill: #333333;
  fill-opacity: 1.0;
}
.minute-color-main {
  fill: #2F80ED;
  fill-opacity: 0.8;
}

.second-color-base {
  fill: #333333;
  fill-opacity: 1.0;
}
.second-color-main {
  fill: #2F80ED;
  fill-opacity: 1.0;
}
