@import "colors";

body {
  background-color: $background-color;
}

.contents {
  height: 98vh;
  width: 98vw;
}

.clock {
  height: 100%;
  width: 100%;
}

.digital-clock,
.donut-text {
  font-family: "Roboto", "Helvetica", sans-serif;
  font-weight: bold;
}

.digital-clock {
  fill: $text-base-color;
}

.hhmmss {
  font-size: 64px;
}
.YYYYMMDD {
  font-size: 36px;
}
.WWW {
  font-size: 24px;
}

.donut-background {
  opacity: 0.1;
}
.donut-foreground {
  opacity: 1;
}

.donut-text {
  font-size: 18;
  text-transform: capitalize;
}
.donut-text-color-dark {
  fill: $text-base-color;
}
.donut-text-color-light {
  fill: $text-sub-color;
}

.month-color {
  fill: $month-color;
}
.date-color {
  fill: $date-color;
}
.hour-color {
  fill: $hour-color;
}
.minute-color {
  fill: $minute-color;
}
.second-color {
  fill: $second-color;
}
