@import "colors";

body {
  background-color: $background-color;
}

.contents {
  height: 98vh;
  width: 98vw;
}

.clock {
  height: 100%;
  width: 100%;
}

.digital-clock {
  fill: $text-base-color;
  font-family: "Roboto", "Helvetica", sans-serif;
  font-weight: bold;
}

.hhmmss {
  font-size: 64px;
}
.YYYYMMDD {
  font-size: 36px;
}
.WWW {
  font-size: 24px;
}

.donut-background {
  opacity: 0.1;
}
.donut-foreground {
  opacity: 1;
}

.donut-text {
  font-size: 18;
  text-transform: capitalize;
}
.donut-text-color-dark {
  fill: $text-base-color;
}
.donut-text-color-light {
  fill: $text-sub-color;
}

@mixin fillmain($opacity: 1) {
  fill: $main-color;
  fill-opacity: $opacity;
}

.month-color-base,
.date-color-base,
.hour-color-base,
.minute-color-base,
.second-color-base {
  fill: $base-color;
  fill-opacity: 1;
}
.month-color-main {
  @include fillmain(0.2);
}
.date-color-main {
  @include fillmain(0.4);
}
.hour-color-main {
  @include fillmain(0.6);
}
.minute-color-main {
  @include fillmain(0.8);
}
.second-color-main {
  @include fillmain(1);
}
